<header>
    <nav>
        <h1>New Tech</h1>
        <ul>
            <li><a href="">Home</a> </li>
            <li><a href="">Products</a> </li>
            <li><a href="">About Us</a> </li>
            <li><a href=""> Contact</a></li>
        </ul>
    </nav>
</header>

<style>
header{

    background-color: rgb(136, 44, 44);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{

    display: flex;
}
nav ul li a{

    color: white;
    text-transform: uppercase;
}

nav ul li a:hover{

    color: rgb(238, 161, 161);
}
nav ul li {

    padding: 10px;
}
</style>