<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tech</title>
</head>
<body>
    <header>
        <h1>Welcome To New Tech online Inventory Ms</h1>
        <p>Hello Lorem ipsum dolor</p>
    </header>

    <style>

        header{
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
            text-align: center;

        }

        h1{
            line-height: 1;
        }
    </style>
</body>
</html>