<%- include("../partials/head" , {title:'Sign Up'})%>
</head>
<body>
<%- include("../partials/header") %>

<form class="container w-50 mt-4" action="/signup" method="post">
    <div class="text-center">Sign Up</div>
    <div class="form-group">
        <label for="username" class="form-label">username</label>
        <input type="text" id="username" name="username" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="email">email</label>
        <input type="email" id="email" name="email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required/>
    </div>

    <div class="form-group">
        <label for="firstname">first name</label>
        <input type="text" id="firstname" name="firstname" class="form-control" required/>
    </div>

    <div class="form-group">
        <label for="lastname">last name</label>
        <input type="text" id="lastname" name="lastname" class="form-control" required/>
    </div>

    <div class="form-group">
        <label for="phoneno">contact</label>
        <input type="text" id="phoneno" name="contact" class="form-control" required/>
    </div>

    <button type="submit" class="btn btn-primary">Signup</button>
</form>
<%- include("../partials/footer" )%>
